<div class="post">
  <div class="header">
    <h1>Post tittle</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.21</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt eligendi error est explicabo fuga numquam quas quibusdam. Beatae dolorem, ex laboriosam laudantium magnam odio voluptas. Amet, at illum magnam minima molestias mollitia obcaecati perspiciatis provident quisquam totam. Accusantium aspernatur delectus error obcaecati quod quos sit suscipit temporibus velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt eligendi error est explicabo fuga numquam quas quibusdam. Beatae dolorem, ex laboriosam laudantium magnam odio voluptas. Amet, at illum magnam minima molestias mollitia obcaecati perspiciatis provident quisquam totam. Accusantium aspernatur delectus error obcaecati quod quos sit suscipit temporibus velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt eligendi error est explicabo fuga numquam quas quibusdam. Beatae dolorem, ex laboriosam laudantium magnam odio voluptas. Amet, at illum magnam minima molestias mollitia obcaecati perspiciatis provident quisquam totam. Accusantium aspernatur delectus error obcaecati quod quos sit suscipit temporibus velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deserunt eligendi error est explicabo fuga numquam quas quibusdam. Beatae dolorem, ex laboriosam laudantium magnam odio voluptas. Amet, at illum magnam minima molestias mollitia obcaecati perspiciatis provident quisquam totam. Accusantium aspernatur delectus error obcaecati quod quos sit suscipit temporibus velit!</p>
  </div>
</div>
